body {
    background-color: rgb(150, 175, 150);
}

h1 { 
    font-size: 4em;
    display: flex;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

img {
    width: 90px;    
}